#first_line {
    display: inline;
}

.headingformat1 {
    margin-top: 16px;
    padding-bottom: 16px;
    margin-left: 212px;
    width: 126px;
    height: 29px;
    text-align: left;
    font: normal normal 600 21px/31px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.headingformat2 {
    margin-left: 1146px;
    margin-right: 179px;
    width: 41px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.welcome {
    width: 460px;
    padding-left: 385px;
    padding-right: 521px;
    height: 30px;
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    padding-top: 23px;
    padding-bottom: 22px;
    color: #FFFFFF;
    background-color: #446DFF;
    text-transform: capitalize;
    opacity: 1;
}