#first_line {
    display: inline;
}

.headingformat1 {
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 212px;
    width: 126px;
    height: 29px;
    text-align: left;
    font: normal normal 600 21px/31px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.headingformat2 {
    position: absolute;
    TOP: 22PX;
    left: 1146px;
    right: 179px;
    width: 41px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.welcome {
    position: absolute;
    top: 84px;
    LEFT: 385PX;
    width: 460px;
    height: 30px;
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}