.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.Quanment,
.History {
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.Quanment {
    font: normal normal 600 21px/31px Poppins;
}

.History {
    font: normal normal normal 12px/18px Poppins;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Welcome message~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 75px;
    width: 100%;
    background-color: #446DFF;
}

.welcome_text {
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Choose from buttons~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main_body {
    width: 40%;
    padding-left: 30%;
    padding-top: 30px;
}

.choose_type {
    text-align: left;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.length_rectangle,
.temperature_rectangle,
.volume_rectangle {
    width: 173px;
    border: none;
    outline: none;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s;
}

.length_image {
    width: 30px;
    height: 57px;
    opacity: 1;
    transition: all 0.6s;
    background: transparent url('./assets/scale\ \(1\).svg') 0% 0% no-repeat padding-box;
}

.temperature_image {
    width: 30px;
    height: 57px;
    opacity: 1;
    background: transparent url('./assets/hot\ \(1\).svg') 0% 0% no-repeat padding-box;
    transition: all 0.6s;
}

.volume_image {
    width: 50px;
    height: 57px;
    opacity: 1;
    background: transparent url('./assets/beaker\ \(1\).svg') 0% 0% no-repeat padding-box;
    transition: all 0.6s;
}

.length,
.volume,
.temperature {
    height: 19px;
    text-align: left;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 0.21;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ON HOVER AND CLICK~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*____________temperature_______________*/

.temperature_rectangle_active {
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
}

.temperature_active {
    color: #FD5160;
    opacity: 1;
    font-weight: bold;
    transition: all 0.6s;
}

.temperature_image_active {
    background: transparent url('./assets/hot.svg') 0% 0% no-repeat padding-box;
}


/*
/*____________volume_______________

.volume_rectangle:hover {
    background: #E8DDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
}

.volume_rectangle:hover .volume {
    color: #7224FF;
    opacity: 1;
    font-weight: bold;
    transition: all 0.6s;
}

.volume_rectangle:hover .volume_image {
    background: transparent url('./assets/beaker.svg') 0% 0% no-repeat padding-box;
}


/*____________length_______________

.length_rectangle:hover {
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    transition: all 0.6s;
}

.length_rectangle:hover .length {
    color: #0EC098;
    opacity: 1;
    font-weight: bold;
}

.length_rectangle:hover .length_image {
    background: transparent url('./assets/scale.svg') 0% 0% no-repeat padding-box;
}