.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    left: 15.52%;
    right: 13.1%;
}

.Quanment,
.History {
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.Quanment {
    width: 126px;
    height: 29px;
    font: normal normal 600 21px/31px Poppins;
}

.History {
    width: 41px;
    height: 17px;
    font: normal normal normal 12px/18px Poppins;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Welcome message~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.welcome {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 0px;
    top: 7.942%;
    min-height: 75px;
    width: 100%;
    background-color: #446DFF;
}

.welcome_text {
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
}

.rectangle_main {
    position: absolute;
    top: 10.937%;
    left: 0px;
    width: 100%;
    height: 89.0625%;
    background: #F5F6FA;
    opacity: 1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Choose from buttons~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.choose_type {
    position: absolute;
    top: 24.17%;
    left: 28.18%;
    width: 111px;
    height: 19px;
    text-align: left;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.options {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 28.18%;
    top: 29.167%;
    right: 29.428%;
}

.length_rectangle,
.temperature_rectangle,
.volume_rectangle {
    width: 173px;
    border: none;
    outline: none;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s;
}

.length_image {
    width: 30px;
    height: 57px;
    opacity: 1;
    background: transparent url('./assets/scale\ \(1\).svg') 0% 0% no-repeat padding-box;
    transition: all 0.6s;
}

.temperature_image {
    width: 30px;
    height: 57px;
    opacity: 1;
    background: transparent url('./assets/hot\ \(1\).svg') 0% 0% no-repeat padding-box;
    transition: all 0.6s;
}

.volume_image {
    width: 50px;
    height: 57px;
    opacity: 1;
    background: transparent url('./assets/beaker\ \(1\).svg') 0% 0% no-repeat padding-box;
    transition: all 0.6s;
}

.length,
.volume,
.temperature {
    height: 19px;
    text-align: left;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 0.21;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ON HOVER AND CLICK~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*____________temperature_______________*/

.temperature_rectangle:hover,
.temperature_rectangle:active,
.temperature_rectangle:focus,
.temperature_rectangle:active:focus {
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
}

.temperature_rectangle:hover .temperature,
.temperature_rectangle:active .temperature,
.temperature_rectangle:focus .temperature,
.temperature_rectangle:active:focus .temperature {
    color: #FD5160;
    opacity: 1;
    font-weight: bold;
    transition: all 0.6s;
}

.temperature_rectangle:hover .temperature_image,
.temperature_rectangle:active .temperature_image,
.temperature_rectangle:focus .temperature_image,
.temperature_rectangle:active:focus .temperature_image {
    background: transparent url('./assets/hot.svg') 0% 0% no-repeat padding-box;
}


/*____________volume_______________*/

.volume_rectangle:hover,
.volume_rectangle:active,
.volume_rectangle:focus,
.volume_rectangle:active:focus {
    background: #E8DDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
}

.volume_rectangle:hover .volume,
.volume_rectangle:active .volume,
.volume_rectangle:focus .volume,
.volume_rectangle:active:focus .volume {
    color: #7224FF;
    opacity: 1;
    font-weight: bold;
    transition: all 0.6s;
}

.volume_rectangle:hover .volume_image,
.volume_rectangle:active .volume_image,
.volume_rectangle:focus .volume_image,
.volume_rectangle:active:focus .volume_image {
    background: transparent url('./assets/beaker.svg') 0% 0% no-repeat padding-box;
}


/*____________length_______________*/

.length_rectangle:hover,
.length_rectangle:active,
.length_rectangle:focus,
.length_rectangle:active:focus {
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    transition: all 0.6s;
}

.length_rectangle:hover .length,
.length_rectangle:active .length,
.length_rectangle:focus .length,
.length_rectangle:active:focus .length {
    color: #0EC098;
    opacity: 1;
    font-weight: bold;
}

.length_rectangle:hover .length_image,
.length_rectangle:active .length_image,
.length_rectangle:focus .length_image,
.length_rectangle:active:focus .length_image {
    background: transparent url('./assets/scale.svg') 0% 0% no-repeat padding-box;
}