.temperature {
    left: 625px;
    color: #FD5160;
    opacity: 1;
}

.click_button_2 {
    left: 588px;
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
}

.thermo_cold {
    left: 660px;
    background: transparent url('./assets/hot.svg') 0% 0% no-repeat padding-box;
}